<div class="card bg-light p-4 p-md-5 w-100 mx-auto">
    <form>
        <div class="mb-3 col col-12">
            <label for="clientName" class="form-label">Nombre del cliente</label>
            <input type="text" class="form-control" id="clientName" required>
        </div>
        <div class="mb-3 col col-12">
            <label for="clientName" class="form-label">Nombre la empresa</label>
            <input type="text" class="form-control" id="clientName" required>
        </div>
        <div class="row">
            <div class="mb-3 col col-12 col-md-6">
                <label for="clientName" class="form-label">Telefono principal</label>
                <input type="text" class="form-control" id="clientName">
            </div>
            <div class="mb-3 col col-12 col-md-6">
                <label for="exampleInputPassword1" class="form-label">Correo Principal</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col col-12 col-md-6">
                <label for="clientName" class="form-label">Telefono del trabajo</label>
                <input type="text" class="form-control" id="clientName">
            </div>
            <div class="mb-3 col col-12 col-md-6">
                <label for="exampleInputPassword1" class="form-label">Correo CC</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col col-12 col-md-6">
                <label for="clientName" class="form-label">Celular</label>
                <input type="text" class="form-control" id="clientName">
            </div>
            <div class="mb-3 col col-12 col-md-6">
                <label for="exampleInputPassword1" class="form-label">Sitio web</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="clientStatus">
            <label class="form-check-label" for="cientStatus">El cliente esta inactivo</label>
        </div>
        <button type="submit" class="btn btn-primary" style="float: right">Ok</button>
    </form>
</div>

<div class="row mb-5">
    <div class="col col-12 col-md-6">
        <div class="card bg-white p-4 p-md-5 mt-3 clients-info-cards">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Balance total</th>
                        <th scope="col">Attach</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">
                                    Elegir
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                   <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">
                                    Elegir
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">
                                    Elegir
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">
                                    Elegir
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">
                                    Elegir
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">
                                    Elegir
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">
                                    Elegir
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">
                                    Elegir
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">
                                    Elegir
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col col-12 col-md-6">
        <div class="card bg-white p-4 p-md-5 mt-3 clients-info-cards">
            <div class="text-center">
                <p class="fw-bold">Informacion del cliente</p>
            </div>
            <div>
                <p>Nombre de la empresa: </p>
                <p>Telefono principal: </p>
                <p>Correo principal: </p>
                <p>Cobrar a: </p>
            </div>
        </div>
    </div>
</div>
<div class="card bg-white p-4 p-md-5 mt-3 w-md-50">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Numero</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cuenta</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>