<div class="card bg-white p-4 p-md-5 w-100 mx-auto">
    <form>
        <div class="form-group">
            <label for="productName">Nombre o numero del item</label>
            <input type="text" class="form-control" id="productName">
        </div>

        <div class="form-group">
            <label for="productDescription">Descripcion del producto</label>
            <textarea class="form-control" id="productDescription" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="productRate">Tarifa</label>
            <input type="text" class="form-control" id="productRate" placeholder="Enter email">
        </div>

        <div class="mt-1">
            <a class="btn btn-danger">Descartar</a>
            <button type="submit" class="btn btn-primary">Ok</button>
        </div>
    </form>
</div>