<div class="row m-1 justify-content-center">
    <a class="col-12 col-md-6 p-3 m-1 w-25 module-card text-start" href="/clientes">
        <p>Clientes</p>
    </a>
    <a class="col-12 col-md-6 p-3 m-1 w-25 module-card text-start" href="/clientes">
        <p>Facturas</p>
    </a>
</div>
<div class="row m-1 justify-content-center">
    <a class="col-12 col-md-6 p-3 m-1 w-25 module-card text-start" href="/productos">
        <p>Productos</p>
    </a>
    <a class="col-12 col-md-6 p-3 m-1 w-25 module-card text-start" href="/clientes">
        <p>Clientes</p>
    </a>
</div>