body {
    font-family: 'Poppins', sans-serif;
    background: whitesmoke;
}

.module-card {
    border: 1px solid rgb(181, 181, 181);
    transition: 0.3s;
    color: black;
    text-decoration: none;
}

.module-card:hover {
    background: rgb(32, 196, 32);
    color: white;
}

.module-card:active {
    background-color: rgb(12, 147, 12);
}