body {
    font-family: 'Poppins', sans-serif;
    background: whitesmoke;
}

.module-card {
    border: 1px solid rgb(181, 181, 181);
    transition: 0.3s;
    color: black;
    text-decoration: none;
}

.module-card:hover {
    background: #3ba9e8;
    color: white;
}

.module-card:active {
    background-color: #329ad6;
}

.clients-info-cards {
    height: 20rem;
    max-height: 20rem;
    overflow-y: scroll;
}